<div th:fragment="search-table-purchase" xmlns="http://www.w3.org/1999/html">


    <div class="table-responsive mb-3">
        <table class="table  table-hover table-panel align-middle table-sm table-striped text-nowrap  mb-0 rounded border" id="search-products-pos">
            <thead>
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Buy Price</th>
                <th>Sale Price</th>
                <th>Tax</th>
                <th>Current Stock</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productCode}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productCost}"></td>
                <td th:text="${product.productPrice}"></td>
                <td th:text="${product.tax}"></td>
                <td th:text="${product.currentStock}"></td>

            </tr>
            </tbody>
    </table>
    </div>













































</div>
