<div th:fragment="members">
    <style type="text/css">


        .table-thead-sticky thead th {
            position: sticky;
            top: 0;
            background-color: #ffffff;
            /* Set header background color to white */
        }

        .table-tfoot-sticky tfoot th {
            position: sticky;
            bottom: 0;
            background-color: #ffffff;

            /* Set footer background color to white */
        }


        .table-sm th,
        .table-sm td {
            padding: .3rem; /* Adjust padding for small table */
        }

        .pagination-sm {
            margin: 0; /* Remove default margin from pagination */
        }

    </style>
    <div class="panel panel flex-1 m-0 d-flex flex-column overflow-hidden">
        <div class="panel-heading bg-success text-white">
            <h4 class="panel-title">Sales Records:</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body p-2 flex-1 overflow-hidden">
            <div class="p-0 bg-component">
                <div class="app-content-padding px-4 py-3 border-bottom">
                    <div class="d-lg-flex mb-lg-3 mb-2">
                        <h1 class="page-header mb-0 flex-1">Data Management</h1>
                        <span class="d-none d-lg-flex align-items-center">
						<a href="#" class="btn btn-secondary btn-sm d-flex me-2 pe-3 rounded-3">
							<span class="iconify fs-18px me-2 ms-n1" data-icon="solar:printer-bold-duotone"></span>
							Print Result
						</a>
						<a href="#" id="view-sales" class="btn btn-secondary btn-sm d-flex me-2 pe-3 rounded-3">
							<span class="iconify fs-18px me-2 ms-n1" data-icon="solar:archive-down-minimlistic-bold-duotone"></span>
							Export Excel
						</a>
						<a href="#" class="btn btn-success btn-sm d-flex pe-3 rounded-3">
							<span class="iconify fs-18px me-2 ms-n1" data-icon="solar:refresh-bold-duotone"></span>
							Reload Data
						</a>
					</span>
                    </div>
                    <div class="row gx-2 pb-10px">
                        <div class="col-lg-4">
                            <div class="position-relative">
                                <input type="text" class="form-control ps-35px rounded-3" placeholder="Search by products title or ID..." />
                                <button class="btn position-absolute start-0 top-0 shadow-none"><i class="fa fa-search fa-lg"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-2 d-lg-block d-none">
                            <a href="#" id="daterange-btn" class="btn btn-white d-flex align-items-center rounded-3" data-bs-toggle="dropdown">
                                <i class="far fa-lg fa-calendar me-10px text-body text-opacity-50 d-none"></i>
                                <span class="iconify fs-20px my-n1 me-2 ms-n1 text-theme" data-icon="solar:calendar-search-linear"></span>
                                Date Range
                                <i class="fa ms-auto fa-chevron-down"></i>
                            </a>
                        </div>






                        <div class="col-lg-2 d-lg-block d-none">
                            <a href="#" class="btn btn-white d-flex align-items-center rounded-3" data-bs-toggle="dropdown">
                                <i class="fa fa-lg fa-tags me-10px text-body text-opacity-50 d-none"></i>
                                <span class="iconify fs-20px my-n1 me-2 ms-n1 text-theme" data-icon="solar:tag-linear"></span>
                               Payment Status
                                <i class="fa ms-auto fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="fa fa-circle fs-7px me-2 ms-n1 text-danger"></i>Pending</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="fa fa-circle fs-7px me-2 ms-n1 text-warning"></i>Partial</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="fa fa-circle fs-7px me-2 ms-n1 text-success"></i>Cleared</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="fa fa-circle fs-7px me-2 ms-n1 text-primary"></i>Prepaid</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 d-lg-block d-none">
                            <a href="#" class="btn btn-white d-flex align-items-center rounded-3" data-bs-toggle="dropdown">
                                <i class="fa fa-lg fa-location-dot me-10px text-body text-opacity-50 d-none"></i>
                                <span class="iconify fs-20px my-n1 me-2 ms-n1 text-theme" data-icon="solar:map-point-linear"></span>
                                Location
                                <i class="fa ms-auto fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> New York City, New York, USA</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> London, United Kingdom</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> Tokyo, Japan</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> Sydney, Australia</a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> Paris, France</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 d-lg-block d-none">

                            <select class="selectpicker form-control form-select-sm" id="v-search" name="customer" required>

                            </select>
                        </div>
                    </div>
                    <div class="d-lg-flex align-items-center mb-n2">
                        <div class="d-lg-flex d-none align-items-center text-nowrap">
                            Results per page:
                            <select class="form-select form-select-sm ms-2 h-25px py-0 ps-2 pe-30px">
                                <option>100</option>
                                <option>50</option>
                                <option selected>30</option>
                            </select>
                        </div>
                        <div class="d-lg-block d-none ms-2 text-body text-opacity-50">
                            1,495 results found
                        </div>

                        <ul class="pagination pagination-sm mb-0 ms-auto justify-content-center">
                            <li class="page-item disabled"><a class="page-link">Previous</a></li>
                            <li class="page-item d-lg-block d-none2"><a class="page-link" href="#">1</a></li>
                            <li class="page-item d-lg-block d-none2"><a class="page-link bg-theme text-theme-color border border-theme" href="#">2</a></li>
                            <li class="page-item d-lg-block d-none2"><a class="page-link" href="#">3</a></li>
                            <li class="page-item d-lg-block d-none2"><a class="page-link" href="#">4</a></li>
                            <li class="page-item d-lg-block d-none2"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
               <div class="row" id="sales-data">

               </div>
            </div>
            <!-- END #content -->
            <!-- END mailbox -->
        </div>
    </div>



    <script>

    $(document).ready(function() {
        $(function() {
            var start_date;
            var end_date;

            $('#daterange-btn').daterangepicker({
                opens: 'center', // Changed from 'left' to 'center'
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, function(start, end, label) {
                start_date = start;
                end_date = end;
                $('#daterange-btn').html(start.format('YYYY-MM-DD') + " - " + end.format('YYYY-MM-DD'));
            });

            // Now you can use the start_date and end_date variables in your code as needed.
        });
    });

    </script>




    <script>
        $(document).ready(function() {
            // Initialize select2
            $("#v-search").select2({
                ajax: {
                    url: "/search-customers/api",
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            keyword: params.term
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: $.map(data, function(obj) {
                                return {
                                    id: obj.custid,
                                    text: obj.custid + ' - ' + obj.customername,
                                };
                            })
                        };
                    }
                },
                minimumInputLength: 3
            });

            // Add an event listener for when an option is selected
            $("#v-search").on("select2:select", function (e) {
                var selectedOption = e.params.data;
                var customerName = selectedOption.text.split(' - ')[1]; // Extract customer name
                var customerId = selectedOption.id; // Extract customer id

                $("#customer-name").text(customerName);
                $("#customer-id").text(customerId); // Update the span element

                // Fetch data for the selected customer
                fetchSaleByCustomer(customerId);
            });

            function fetchSaleByCustomer(customerId) {
                // Construct the URL with query parameters
                var url = '/sales/sale-by-customer?customerId=' + customerId;

                // Make the AJAX request to the server
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(response) {
                        // Update the content of the sales-data element with the fetched data
                        $('#sales-data').html(response);
                    },
                    error: function() {
                        alert('An error occurred while fetching data.');
                    }
                });
            }
        });

    </script>




    <script>
        $(document).ready(function() {

            // Add click event listeners to each dropdown item
            $('.dropdown-item').click(function(event) {
                event.preventDefault(); // Prevent the default behavior of the button click

                // Get the remark from the clicked dropdown item
                var remark = $(this).text().trim();

                // Construct the URL with query parameters
                var url = '/sales/sale-remark?remark=' + remark;

                // Fetch data from the updated URL on button click
                fetchData(url);
            });

            function fetchData(url) {
                // Make the AJAX request to the server
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(response) {
                        // Update the content of the auto-filter-mem-data element with the fetched data
                        $('#sales-data').html(response);
                    },
                    error: function() {
                        alert('An error occurred while fetching data.');
                    }
                });
            }
        });

    </script>





    <script>


      $(document).ready(function() {
          // Function to fetch data
          function fetchData(dateone, datetwo) {
              // Construct the URL with query parameters
              var url = '/sales/sale-transactions?startDate=' + dateone + '&endDate=' + datetwo;

              // Make the AJAX request to the server
              $.ajax({
                  url: url,
                  method: 'GET',
                  success: function(response) {
                      // Update the content of the auto-filter-mem-data element with the fetched data
                      $('#sales-data').html(response);
                  },
                  error: function() {
                      alert('An error occurred while fetching data.');
                  }
              });
          }

          // Function to handle button click
          $('#view-sales').click(function(event) {
              event.preventDefault(); // Prevent the default behavior of the button click

              var dateRange = $('#daterange-btn').html().split(" - ");
              var dateone = dateRange[0];
              var datetwo = dateRange[1];

              // Fetch data on button click
              fetchData(dateone, datetwo);
          });

          var defaultDateOne = moment().format('YYYY-MM-DD');
          var defaultDateTwo = moment().format('YYYY-MM-DD');
          fetchData(defaultDateOne, defaultDateTwo);
      });


    </script>








</div>







