<div th:fragment="settings-system">
    <ul class="nav nav-tabs nav-tabs-v2 px-3 rounded border d-flex">
        <li class="nav-item me-2 flex-grow-1">
            <a class="nav-link px-2 active" data-bs-toggle="tab" id="book-form">
                <span class="iconify fs-18px me-2 ms-n1" data-icon="solar:buildings-2-bold-duotone"></span>
                Booking Workflow
            </a>
        </li>

        <li class="nav-item me-2 flex-grow-1">
            <a class="nav-link px-2" data-bs-toggle="tab" id="rooms-booking">
                <span class="iconify fs-18px me-2 ms-n1" data-icon="solar:home-bold-duotone"></span>
                Booking Records
            </a>
        </li>
    </ul>


</div>
