<div th:fragment="ministry_form">

<!--    <style type="text/css">
        /* General Styles */
        /*   body {
               font-family: Arial, sans-serif;
           }
   */
        /* Messenger Styles */
        .messenger {
            display: flex;
            height: auto;
        }

        .messenger-chat {
            width: 30%;
            border-right: 1px solid #ddd;
        }

        .messenger-content {
            width: 70%;
            padding: 20px;
        }

        /* Chat Header Styles */
        .messenger-chat-header {
            padding: 20px;
            border-bottom: 1px solid #ddd;
        }


        .messenger-chat-header input[type="text"] {
            width: 100%;
        }

        /* Chat Body Styles */
        .messenger-chat-body {
            padding: 20px;
        }



        /* Content Styles */
        .widget-chat {
            display: flex;
            flex-direction: column;
            height: auto;
        }



        .widget-chat-media img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }


        /* Style the input fields */
        .container input {
            font-size: 16px;
            padding: 10px;
            width: 100%;
            display: block;
            border: none;
            border-bottom: 1px solid #ddd;
        }

        /* Style the label to be above and to the left */
        .container label {
            position: absolute;
            margin-left: 10px;
            margin-top: 10px;
            pointer-events: none;
            transition: 0.2s ease all;
        }

        /* Style the label to be smaller and move up when the input is focused or filled */
        .container input:focus ~ label,
        .container input:valid ~ label {
            top: -20px;
            font-size: 14px;
            color: blue;
        }

        /* Style pos-sidebar */
        .pos-sidebar {
            min-width: 377px; /* Changed to min-width to allow flexibility */

            /* overflow-y: auto;*/
            position: sticky;
            top: 0;
            height: auto;
            display: flex;
            flex-direction: column;

        }




    </style>

    <div class="panel panel flex-1 m-0 d-flex flex-column overflow rounded border">

        <div class="panel-body p-0 flex-1 overflow">

            <div class="messenger" id="messenger">

                <div class="messenger-chat">


                    <div class="messenger-chat-header d-flex">
                        <div class="flex-1 position-relative">
                            <input type="text" class="form-control border-0 bg-light ps-30px" placeholder="Search" />
                            <i class="fa fa-search position-absolute start-0 top-0 h-100 ps-2 ms-3px d-flex align-items-center justify-content-center"></i>
                        </div>
                        <div class="ps-2">
                            <a href="#" class="btn border-0 bg-light shadow-none">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="messenger-chat-body">
                        <div data-scrollbar="true" data-height="100%">
                            <div class="row">
                             &lt;!&ndash;   <div class="pos-sidebar bg-gradient">

                                    <div class="pos-sidebar-body" >


                                        <div class="pos-sidebar-footer">

                                            <div class="card rounded border">

                                                <div class="card-body">

                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control mr-geek-date" id="payDate"        name="payDate" placeholder="dd/mm/yyyy" style="width: 100%; height: 40px;">
                                                        <label for="payDate">
                                                            <i class="fa fa-calendar"></i> Payment Date
                                                        </label>
                                                    </div>

                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control mr-geek-date" id="bankingDate"    name="bankingDate" placeholder="dd/mm/yyyy" style="width: 100%; height: 40px;">
                                                        <label for="bankingDate">
                                                            <i class="fa fa-calendar"></i> Banking Date
                                                        </label>
                                                    </div>
                                                    <div class="form-floating mb-3 select2-wrapper">
                                                        <select class="form-control"  id="student-search" name="student-search" style="width: 100%; height: 40px;"></select>
                                                        <label for="student-search">Search Student Admission</label>
                                                    </div>



                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-floating mb-3">
                                                                <select class="default-select2 form-control" id="p-term" name="term"   required style="width: 100%; height: 40px;">
                                                                    <option value=""></option>
                                                                    <option value="TERM 1">TERM 1</option>
                                                                    <option value="TERM 2">TERM 2</option>
                                                                    <option value="TERM 3">TERM 3</option>
                                                                </select>
                                                                <label class="form-label" for="p-term">Select Term</label>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-floating mb-3">
                                                                <select class="default-select2 form-control" id="mode" name="mode" required>
                                                                    <option value=""></option>
                                                                    <option value="MPESA">MPESA</option>
                                                                    <option value="CASH">CASH</option>
                                                                    <option value="BANK SLIP">BANK SLIP</option>
                                                                    <option value="BANK TRANSFER<">BANK TRANSFER</option>
                                                                    <option value="BANKERS CHEQUE"> BANKERS CHEQUE</option>
                                                                    <option value="CHEQUE">CHEQUE</option>
                                                                </select>
                                                                <label for="mode">Mode of Payment</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-floating mb-3">
                                                        <select class="form-control" id="accountChart"  name="accountChart" style="width: 100%; height: 40px;"></select>
                                                        <label for="accountChart">Bank Name</label>
                                                    </div>

                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="transRef" name="transRef" style="width: 100%; height: 40px;">
                                                        <label for="transRef">Narration/Payment Reference</label>
                                                    </div>


                                                </div>

                                                <div class="card">
                                                    <div class="card-body">
                                                        <table class="table table-borderless table-sm fw-bold m-0">
                                                            <tbody>
                                                            <tr>
                                                                <div class="alert alert-info" role="alert" style="display: none;">
                                                                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                                                    Invoicing Processing......
                                                                </div>

                                                                <div class="alert alert-success" role="alert" style="display: none;">
                                                                    <span class="me-2" role="status" aria-hidden="true"></span>
                                                                    <span class="students-count"></span>Saved successfully.
                                                                </div>
                                                                <div class="alert alert-danger" role="alert" style="display: none;">
                                                                    <span class="me-2" role="status" aria-hidden="true"></span>
                                                                    <span class="students-count"></span>Saving Failed.
                                                                </div>

                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                                <div class="card-footer bg-none d-flex p-3">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <a href="#" class="btn btn-danger ms-auto rounded-3 text-center me-50px" style="width: 100%;">
                                                                <i class="fab fa-paypal d-block fs-18px my-1"></i>
                                                                CANCEL
                                                            </a>
                                                        </div>
                                                        <div class="col-6">
                                                            <a href="#" id="save-payments" class="btn btn-success ms-auto rounded-3 text-center me-50px" style="width: 100%;">
                                                                <i class="fab fa-amazon-pay d-block fs-18px my-1"></i>
                                                                PROCESS
                                                            </a>
                                                        </div>
                                                    </div>


                                                </div>


                                            </div>

                                        </div>


                                    </div>
                                </div>&ndash;&gt;
                                <p>xyz</p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="messenger-content" style="width: 100%;">
                    <div class="widget-chat">

                        <div data-scrollbar="true" data-height="100%">
                            <div class="row" id="innerPanelController">



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script>


        $(document).ready(function() {

              //  loadManagerFragment('/products/product-rx'); // Load default fragment

        });


    </script>-->


    <!-- BEGIN row -->

    <div class="row">
        <!-- BEGIN col-3 -->
        <div style="width: 230px">
            <!-- BEGIN #sidebar-bootstrap -->
            <nav class="navbar navbar-sticky d-none d-xl-block my-n4 py-4 h-100 text-end">
                <nav class="nav" id="bsSpyTarget">
                    <a class="nav-link active" href="#general" data-toggle="scroll-to">General</a>
                    <a class="nav-link" href="#notifications" data-toggle="scroll-to">Notifications</a>
                    <a class="nav-link" href="#privacyAndSecurity" data-toggle="scroll-to">Privacy and security</a>
                    <a class="nav-link" href="#payment" data-toggle="scroll-to">Payment</a>
                    <a class="nav-link" href="#shipping" data-toggle="scroll-to">Shipping</a>
                    <a class="nav-link" href="#mediaAndFiles" data-toggle="scroll-to">Media and Files</a>
                    <a class="nav-link" href="#languages" data-toggle="scroll-to">Languages</a>
                    <a class="nav-link" href="#system" data-toggle="scroll-to">System</a>
                    <a class="nav-link" href="#resetSettings" data-toggle="scroll-to">Reset settings</a>
                </nav>
            </nav>
            <!-- END #sidebar-bootstrap -->
        </div>
        <!-- END col-3 -->
        <!-- BEGIN col-9 -->
        <div class="col-xl-8" id="bsSpyContent">
            <!-- BEGIN #general -->
            <div id="general" class="mb-4 pb-3">
                <h4 class="d-flex align-items-center mb-2">
                    <span class="iconify fs-24px me-2 text-body text-opacity-75 my-n1" data-icon="solar:user-bold-duotone"></span> General
                </h4>
                <p>View and update your general account information and settings.</p>
                <div class="card">
                    <div class="list-group list-group-flush fw-bold">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Name</div>
                                <div class="text-body text-opacity-60">Sean Ngu</div>
                            </div>
                            <div class="w-100px">
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Username</div>
                                <div class="text-body text-opacity-60">@seantheme</div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Phone</div>
                                <div class="text-body text-opacity-60">+1-202-555-0183</div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Email address</div>
                                <div class="text-body text-opacity-60">support@seantheme.com</div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary disabled w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Password</div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #general -->

            <!-- BEGIN #notifications -->
            <div id="notifications" class="mb-4 pb-3">
                <h4 class="d-flex align-items-center mb-2 mt-3">
                    <span class="iconify fs-24px me-2 text-body text-opacity-75 my-n1" data-icon="solar:bell-bold-duotone"></span>
                    Notifications
                </h4>
                <p>Enable or disable what notifications you want to receive.</p>
                <div class="card">
                    <div class="list-group list-group-flush fw-bold">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Comments</div>
                                <div class="text-body text-opacity-60 d-flex align-items-center">
                                    <i class="fa fa-circle fs-6px mt-1px fa-fw text-success me-2"></i> Enabled (Push, SMS)
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Tags</div>
                                <div class="text-body text-opacity-60 d-flex align-items-center">
                                    <i class="fa fa-circle fs-6px mt-1px fa-fw text-body text-opacity-25 me-2"></i> Disabled
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Reminders</div>
                                <div class="text-body text-opacity-60 d-flex align-items-center">
                                    <i class="fa fa-circle fs-6px mt-1px fa-fw text-success me-2"></i> Enabled (Push, Email, SMS)
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>New orders</div>
                                <div class="text-body text-opacity-60 d-flex align-items-center">
                                    <i class="fa fa-circle fs-6px mt-1px fa-fw text-success me-2"></i> Enabled (Push, Email, SMS)
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #notifications -->

            <!-- BEGIN #privacyAndSecurity -->
            <div id="privacyAndSecurity" class="mb-4 pb-3">
                <h4 class="d-flex align-items-center mb-2 mt-3">
                    <span class="iconify fs-24px me-2 text-body text-opacity-75 my-n1" data-icon="solar:lock-password-bold-duotone"></span>
                    Privacy and security
                </h4>
                <p>Limit the account visibility and the security settings for your website.</p>
                <div class="card">
                    <div class="list-group list-group-flush fw-bold">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Who can see your future posts?</div>
                                <div class="text-body text-opacity-60 d-flex align-items-center">
                                    Friends only
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Photo tagging</div>
                                <div class="text-body text-opacity-60 d-flex align-items-center">
                                    <i class="fa fa-circle fs-6px mt-1px fa-fw text-success me-2"></i> Enabled
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Location information</div>
                                <div class="text-body text-opacity-60 d-flex align-items-center">
                                    <i class="fa fa-circle fs-6px mt-1px fa-fw text-body text-opacity-25 me-2"></i> Disabled
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Firewall</div>
                                <div class="text-body text-opacity-60 d-block d-xl-flex align-items-center">
                                    <div class="d-flex align-items-center"><i class="fa fa-circle fs-6px mt-1px fa-fw text-body text-opacity-25 me-2"></i> Disabled</div>
                                    <span class="bg-warning bg-opacity-10 text-warning ms-xl-3 mt-1 d-inline-block mt-xl-0 px-1 rounded-sm">
												<i class="fa fa-exclamation-circle text-warning fs-12px me-1"></i>
												<span class="text-warning">Please enable the firewall for your website</span>
											</span>
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #privacyAndSecurity -->

            <!-- BEGIN #payment -->
            <div id="payment" class="mb-4 pb-3">
                <h4 class="d-flex align-items-center mb-2 mt-3">
                    <span class="iconify fs-24px me-2 text-body text-opacity-75 my-n1" data-icon="solar:bag-4-bold-duotone"></span>
                    Payment
                </h4>
                <p>Manage your website payment provider</p>
                <div class="card">
                    <div class="list-group list-group-flush fw-bold">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Allowed payment method</div>
                                <div class="text-body text-opacity-60">
                                    Paypal, Credit Card, Apple Pay, Amazon Pay, Google Wallet, Alipay, Wechatpay
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #payment -->

            <!-- BEGIN #shipping -->
            <div id="shipping" class="mb-4 pb-3">
                <h4 class="d-flex align-items-center mb-2 mt-3">
                    <span class="iconify fs-24px me-2 text-body text-opacity-75 my-n1" data-icon="solar:box-bold-duotone"></span>
                    Shipping
                </h4>
                <p>Allowed shipping area and zone setting</p>
                <div class="card">
                    <div class="list-group list-group-flush fw-bold">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Allowed shipping method</div>
                                <div class="text-body text-opacity-60">
                                    Local, Domestic
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #shipping -->

            <!-- BEGIN #mediaAndFiles -->
            <div id="mediaAndFiles" class="mb-4 pb-3">
                <h4 class="d-flex align-items-center mb-2 mt-3">
                    <span class="iconify fs-24px me-2 text-body text-opacity-75 my-n1" data-icon="solar:camera-bold-duotone"></span>
                    Media and Files
                </h4>
                <p>Allowed files and media format upload setting</p>
                <div class="card">
                    <div class="list-group list-group-flush fw-bold">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Allowed files and media format</div>
                                <div class="text-body text-opacity-60">
                                    .png, .jpg, .gif, .mp4
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Media and files cdn</div>
                                <div class="text-body text-opacity-60 d-flex align-items-center">
                                    <i class="fa fa-circle fs-6px mt-1px fa-fw text-body text-opacity-25 me-2"></i> Disabled
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #mediaAndFiles -->

            <!-- BEGIN #languages -->
            <div id="languages" class="mb-4 pb-3">
                <h4 class="d-flex align-items-center mb-2 mt-3">
                    <span class="iconify fs-24px me-2 text-body text-opacity-75 my-n1" data-icon="solar:globus-bold-duotone"></span>
                    Languages
                </h4>
                <p>Language font support and auto translation enabled</p>
                <div class="card">
                    <div class="list-group list-group-flush fw-bold">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Language enabled</div>
                                <div class="text-body text-opacity-60">
                                    English (default), Chinese, France, Portuguese, Japense
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Auto translation</div>
                                <div class="text-body text-opacity-60 d-flex align-items-center">
                                    <i class="fa fa-circle fs-6px mt-1px fa-fw text-success me-2"></i> Enabled
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #languages -->

            <!-- BEGIN #system -->
            <div id="system" class="mb-4 pb-3">
                <h4 class="d-flex align-items-center mb-2 mt-3">
                    <span class="iconify fs-24px me-2 text-body text-opacity-75 my-n1" data-icon="solar:ssd-round-bold-duotone"></span>
                    System
                </h4>
                <p>System storage, bandwidth and database setting</p>
                <div class="card">
                    <div class="list-group list-group-flush fw-bold">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Web storage</div>
                                <div class="text-body text-opacity-60">
                                    40.8gb / 100gb
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px">Manage</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Monthly bandwidth</div>
                                <div class="text-body text-opacity-60">
                                    Unlimited
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Database</div>
                                <div class="text-body text-opacity-60">
                                    MySQL version 8.0.19
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-secondary w-100px disabled">Update</a>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Platform</div>
                                <div class="text-body text-opacity-60">
                                    PHP 7.4.4, NGINX 1.17.0
                                </div>
                            </div>
                            <div>
                                <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-success w-100px">Update</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #system -->

            <!-- BEGIN #resetSettings -->
            <div id="resetSettings" class="mb-4 pb-3">
                <h4 class="d-flex align-items-center mb-2 mt-3">
                    <span class="iconify fs-24px me-2 text-body text-opacity-75 my-n1" data-icon="solar:restart-bold-duotone"></span>
                    Reset settings
                </h4>
                <p>Reset all website setting to factory default setting.</p>
                <div class="card">
                    <div class="list-group list-group-flush fw-bold">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="flex-fill">
                                <div>Reset Settings</div>
                                <div class="text-body text-opacity-60">
                                    This action will clear and reset all the current website setting.
                                </div>
                            </div>
                            <div>
                                <a href="#" class="btn btn-secondary w-100px">Reset</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #resetSettings -->
        </div>
        <!-- END col-9-->
    </div>
    <!-- END row -->









    <script>
        function loadManagerFragment(url) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {
                    $('#innerPanelController').html(data);
                },
                error: function() {
                    console.log('Error loading fragment');
                }
            });
        }

    </script>
</div>

