
<div th:fragment="mails">

    <div class="card rounded border">
        <div class="card-header h6 mb-0 bg-none p-3">
            <i class="fab fa-monero fa-lg fa-fw text-dark text-opacity-50 me-1"></i>Mail Server Settings
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-xl-12">
                    <form id="mail-servers" method="post" th:action="@{/settings/mailServerSettings}">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">SMTP Server Host Name:</label>
                                    <input type="text" class="form-control form-control-sm" name="MAIL_HOST" th:value="${MAIL_HOST}"/>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">SMTP Server Host Port:</label>
                                    <input type="text" class="form-control form-control-sm" name="MAIL_PORT" th:value="${MAIL_PORT}"/>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">UserName:</label>
                                    <input type="text" class="form-control form-control-sm" name="MAIL_USERNAME" th:value="${MAIL_USERNAME}"/>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">Password:</label>
                                    <input type="text" class="form-control form-control-sm" name="MAIL_PASSOWRD" th:value="${MAIL_PASSWORD}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">Server Authentication Required</label>
                                    <select class="form-select form-select-sm" name="SMTP_AUTH">
                                        <option th:selected="(${SMTP_AUTH}=='True')">True</option>
                                        <option th:selected="(${SMTP_AUTH}=='False')">False</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">Server Requires Secure Connection(TLS)</label>
                                    <select class="form-select form-select-sm" name="SMTP_SECURED">
                                        <option th:selected="(${SMTP_SECURED}=='True')">True</option>
                                        <option th:selected="(${SMTP_SECURED}=='False')">False</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">From Email Address:</label>
                                    <input type="text" class="form-control form-control-sm" name="MAIL_FROM" th:value="${MAIL_FROM}"/>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">Sender Name:</label>
                                    <input type="text" class="form-control form-control-sm" name="MAIL_SENDER_NAME" th:value="${MAIL_SENDER_NAME}"/>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success w-100px me-5px">Save Details</button>
                        <button type="submit" class="btn btn-default w-100px">Cancel</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <script>

        // Submit form data using AJAX
        $('#mail-servers').submit(function(e) {
            e.preventDefault(); // Prevent form submission
            var formData = $(this).serialize(); // Serialize form data

            $.ajax({
                url: $(this).attr('action'), // Form action URL
                type: 'POST', // Request type
                data: formData, // Form data
                success: function(response) {
                    // Show success notification
                    $.gritter.add({
                        title: 'Success',
                        text: 'Form data saved successfully',
                        class_name: 'success'
                    });

                    // Load the 'system' view
                    loadFragment('/settings/system');
                },
                error: function() {
                    // Show failure notification
                    $.gritter.add({
                        title: 'Failure',
                        text: 'Failed to save form data',
                        class_name: 'error'
                    });
                }
            });
        });

    </script>





</div>

