
<div id="sidebar" class="app-sidebar" data-bs-theme="dark"
	 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
		<!-- BEGIN menu -->
		<div class="menu">
			<!-- User Profile Section -->
			<div class="menu-profile">
				<a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
					<div class="menu-profile-cover with-shadow"></div>
					<div class="menu-profile-image">
						<img th:src="@{/assets/img/user/user-13.jpg}" alt="" />
					</div>
				</a>
			</div>
			<div id="appSidebarProfileMenu" class="collapse">
				<div class="menu-item pt-5px">
					<a href="javascript:;" class="menu-link">
						<div class="menu-icon"><i class="fa fa-cog"></i></div>
						<div class="menu-text">Settings</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="javascript:;" class="menu-link">
						<div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
						<div class="menu-text">Feedback</div>
					</a>
				</div>
				<div class="menu-item pb-5px">
					<a href="javascript:;" class="menu-link">
						<div class="menu-icon"><i class="fa fa-question-circle"></i></div>
						<div class="menu-text">Help</div>
					</a>
				</div>
				<div class="menu-divider m-0"></div>
			</div>
			<div class="menu-header">Main Navigation</div>

			<!-- Dashboard Section -->
			<div class="menu-item">
				<a href="#" onclick="loadFragment('/sales/sale-controls')" class="menu-link">
					<div class="menu-icon"><i class="fa fa-tachometer-alt"></i></div>
					<div class="menu-text">Dashboard</div>
				</a>
			</div>

			<!-- POS Section -->
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-cash-register"></i></div>
					<div class="menu-text">Point of Sale</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu">
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/pos/workflow')" class="menu-link"><div class="menu-text">POS Terminal</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/pos/returns')" class="menu-link"><div class="menu-text">Returns & Exchanges</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/pos/gift-cards')" class="menu-link"><div class="menu-text">Gift Cards</div></a>
					</div>
				</div>
			</div>

			<!-- Sales Management Section -->
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-chart-line"></i></div>
					<div class="menu-text">Sales Management</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu">

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/finance/products-sales-summary')" class="menu-link"><div class="menu-text">Sales By Products</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/finance/byRevenueCodes')" class="menu-link"><div class="menu-text">Sales By Categories</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/finance/waiter-summary')" class="menu-link"><div class="menu-text">Sales By Users</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/finance/payment-methods')" class="menu-link"><div class="menu-text">Payment Methods Summaries</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/sales/discounts')" class="menu-link"><div class="menu-text">Discounts & Promotions</div></a>
					</div>
				</div>
			</div>

			<!-- Inventory Management Section -->
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-boxes"></i></div>
					<div class="menu-text">Inventory</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu">

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/productsWorkFlow/controlPanel')" class="menu-link"><div class="menu-text">Add New Products</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/productsWorkFlow/current-list')" class="menu-link"><div class="menu-text">Inventory Items</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/productsWorkFlow/current-stock-manager')" class="menu-link"><div class="menu-text">Add Stock</div></a>
					</div>


					<div class="menu-item">
						<a href="#" onclick="loadFragment('/productsWorkFlow/stock-levels')" class="menu-link"><div class="menu-text">Stock Levels</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/productsWorkFlow/current-new-prices')" class="menu-link"><div class="menu-text">Prices Updates</div></a>
					</div>


					<div class="menu-item">
						<a href="#" onclick="loadFragment('/productsWorkFlow/current-prices')" class="menu-link"><div class="menu-text">Price Lists</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/inventory/barcodes')" class="menu-link"><div class="menu-text">Barcode Generation</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/finance/stock-sheet')" class="menu-link"><div class="menu-text">Stock Movement</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/finance/stock-sheet')" class="menu-link"><div class="menu-text">Inventory By Location</div></a>
					</div>

				</div>
			</div>

			<!-- Purchasing Section -->
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-truck"></i></div>
					<div class="menu-text">Purchasing</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu">


					<div class="menu-item">
						<a href="#" onclick="loadFragment('/suppliers/form')" class="menu-link"><div class="menu-text">Add Suppliers</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/suppliers/list')" class="menu-link"><div class="menu-text">Suppliers</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/stocks/purchases')" class="menu-link"><div class="menu-text">Receive Purchases</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/suppliers/purchase-transactions')" class="menu-link"><div class="menu-text">Purchases</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/stocks/issuance')" class="menu-link"><div class="menu-text">Issue Stock</div></a>
					</div>


				</div>
			</div>

			<!-- Customer Management Section -->
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-users"></i></div>
					<div class="menu-text">Customers</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu">
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/customers/management')" class="menu-link"><div class="menu-text">Customer Database</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/customers/loyalty')" class="menu-link"><div class="menu-text">Loyalty Program</div></a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/customers/feedback')" class="menu-link"><div class="menu-text">Customer Feedback</div></a>
					</div>
				</div>
			</div>



			<!-- Reports Section -->
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-chart-bar"></i></div>
					<div class="menu-text">Reports & Analytics</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu">
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/sales/stock-sheet')" class="menu-link"><div class="menu-text">Stock Valuations</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/sales/daily-aggregates')" class="menu-link"><div class="menu-text">Monthly Aggregates</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/sales/acc-aggregates')" class="menu-link"><div class="menu-text">Monthly By Account</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/sales/yr-aggregates')" class="menu-link"><div class="menu-text">Yearly Aggregates</div></a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/sales/monthly-stock-value')" class="menu-link"><div class="menu-text">Management</div></a>
					</div>

				</div>
			</div>

			<!-- Settings Section -->
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-cogs"></i></div>
					<div class="menu-text">Settings</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu">
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/configs/system-manager')" class="menu-link">
							<div class="menu-text">Company Setup</div>
						</a>
					</div>
					<div class="menu-item">
						<a href="#" onclick="loadFragment('/configs/pos-settings')" class="menu-link">
							<div class="menu-text">POS Configuration</div>
						</a>
					</div>

					<div class="menu-item">
						<a href="#" onclick="loadFragment('/configs/integrations')" class="menu-link">
							<div class="menu-text">Integrations</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="app-sidebar-bg"></div>
<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
