<div th:fragment="pc">

            <div class="row">
                <div class="col-4">
                    <a href="#" id="daterange-btn" class="btn btn-white d-flex align-items-center rounded-3">
                        <i class="far fa-lg fa-calendar me-10px text-body text-opacity-50 d-none"></i>
                        <span class="iconify fs-20px my-n1 me-2 ms-n1 text-theme" data-icon="solar:calendar-search-linear"></span>
                        Date Range
                        <i class="fa ms-auto fa-chevron-down"></i>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-white d-flex align-items-center rounded-3" data-bs-toggle="dropdown">
                        <i class="fa fa-lg fa-tags me-10px text-body text-opacity-50 d-none"></i>
                        <span class="iconify fs-20px my-n1 me-2 ms-n1 text-theme" data-icon="solar:tag-linear"></span>
                        Payment Status
                        <i class="fa ms-auto fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="fa fa-circle fs-7px me-2 ms-n1 text-danger"></i>Pending</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="fa fa-circle fs-7px me-2 ms-n1 text-warning"></i>Partial</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="fa fa-circle fs-7px me-2 ms-n1 text-success"></i>Cleared</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="fa fa-circle fs-7px me-2 ms-n1 text-primary"></i>Prepaid</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-white d-flex align-items-center rounded-3 me-2" data-bs-toggle="dropdown">
                        <i class="fa fa-lg fa-location-dot me-10px text-body text-opacity-50 d-none"></i>
                        <span class="iconify fs-20px my-n1 me-2 ms-n1 text-theme" data-icon="solar:map-point-linear"></span>
                        Location
                        <i class="fa ms-auto fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> New York City, New York, USA</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> London, United Kingdom</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> Tokyo, Japan</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> Sydney, Australia</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="iconify fs-20px my-n1 me-2 ms-n1 text-body text-opacity-50" data-icon="solar:map-point-linear"></span> Paris, France</a></li>
                    </ul>
                </div>
            </div>











</div>