<div th:fragment="pc">


    <div class="row">
        <div class="d-flex align-items-center w-100">

            <div class="col me-2">
            <!-- BEGIN input-group -->
            <div class="input-group mb-3"  style="margin-top: 10px;">
                <button class="btn btn-black dropdown-toggle" type="button" data-bs-toggle="dropdown"><span class="d-none d-md-inline">Search Products</span><span class="d-inline d-md-none"><i class="fa fa-credit-card"></i></span> <b class="caret"></b></button>

                <div class="flex-fill position-relative">
                    <div class="input-group">
                        <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0 start-0">
                            <i class="fa fa-barcode opacity-100"></i>
                        </div>
                        <input type="text" class="form-control px-35px bg-light" placeholder="Search By  Records..." id="searchInput" />

                    </div>

                </div>

            </div>
            <!-- END input-group -->
            </div>

            <div class="btn-toolbar" style="margin-top: 0">
                <div class="btn-group me-2">
                    <a href="#"  id="reload" class="btn btn-success btn-sm " ><i class="fa fa-fw fa-eye" ></i> <span class="hidden-xs">View</span></a>
                    <a href="#"  id="export-data" class="btn btn-white btn-sm" ><i class="fa fa-fw fa-file-excel text-green-500" ></i> <span class="hidden-xs">Excel</span></a>
                    <a href="#" onclick="printStock()" class="btn btn-red btn-sm" ><i class="fa fa-fw fa-print" ></i> <span class="hidden-xs">Print</span></a>
                </div>
            </div>


        </div>
    </div>




<!--    <script>
        function generatePdf(data) {
            // Process JSON data and populate tableData
            var tableData = [];
            var columnNames = ['No.'].concat(Object.keys(data[0]).map(function(key) { return key.toUpperCase(); })); // Assuming the keys of the first item represent column names

            // Populate tableData
            data.forEach(function(item, index) {
                var rowData = [index + 1]; // Add row count
                for (var key in item) {
                    rowData.push(item[key]);
                }
                tableData.push(rowData);
            });

            var docDefinition = {
                content: [
                    {
                        stack: [
                            { text: 'NAKENY MINIMART', style: 'header', alignment: 'center' },
                            { text: 'P.O BOX 101-30500 LODWAR', style: 'header', alignment: 'center' },
                            { text: '0705127908', style: 'header', alignment: 'center' }
                        ],
                        margin: [0, 10, 0, 0],
                        fontSize: 9
                    },
                    {
                        text: 'STOCK SHEET RECORDS',
                        style: 'header',
                        alignment: 'center',
                        margin: [0, 10, 0, 0],
                        fontSize: 9
                    },
                    {
                        table: {
                            headerRows: 1,
                            body: [
                                columnNames, // Table header row
                                ...tableData
                            ]
                        },
                        layout: {
                            hLineWidth: function(i, node) {
                                return (i === 0 || i === node.table.body.length) ? 0.5 : 0.5;
                            },
                            vLineWidth: function(i, node) {
                                return (i === 0 || i === node.table.widths.length) ? 0.5 : 0.5;
                            }
                        },
                        margin: [20, 10, 20, 8]
                    }
                ],
                styles: {
                    header: {
                        fontSize: 6,
                        bold: true
                    },
                    tableBody: {
                        fontSize: 6
                    }
                },
                defaultStyle: {
                    fontSize: 6,
                    font: 'Roboto'
                },
                pageSize: 'A4',
                pageOrientation: 'portrait',
                pageMargins: [20, 25, 20, 25], // A4 standard margins (left, top, right, bottom)
                footer: function(currentPage, pageCount) {
                    var currentDate = new Date();
                    var dateString = currentDate.toDateString() + ", " + currentDate.toLocaleTimeString();
                    return {
                        stack:[
                            { text:'Page ' + currentPage.toString() + ' of ' + pageCount, alignment:'center' },
                            { text:'Printed on ' + dateString, alignment:'center' }
                        ]
                    };
                }
            };

            // Create PDF document
            var pdfDoc = pdfMake.createPdf(docDefinition);

            // Open PDF
            pdfDoc.open();
        }

    </script>-->


    <script>
        function generatePdf(data) {
            // Process JSON data and populate tableData
            var tableData = [];
            var columnNames = ['No.'].concat(Object.keys(data[0]).map(function(key) { return key.toUpperCase(); })); // Assuming the keys of the first item represent column names

            // Populate tableData
            data.forEach(function(item, index) {
                var rowData = [index + 1]; // Add row count
                for (var key in item) {
                    rowData.push(item[key]);
                }
                tableData.push(rowData);
            });

            var docDefinition = {
                content: [
                    {
                        stack: [
                            { text: 'NAKENY MINIMAT', style: 'header', alignment: 'center' },
                            { text: 'P.O BOX 101-30500 LODWAR', style: 'header', alignment: 'center' },
                            { text: '0705127908', style: 'header', alignment: 'center' }
                        ],
                        margin: [0, 10, 0, 0],
                        fontSize: 9
                    },
                    {
                        text: 'PRODUCTS RECORDS',
                        style: 'header',
                        alignment: 'center',
                        margin: [0, 10, 0, 0],
                        fontSize: 9
                    },
                    {
                        table: {
                            headerRows: 1,
                            widths: Array(columnNames.length).fill('*'), // Add this line
                            body: [
                                columnNames, // Table header row
                                ...tableData.map(row => {
                                    return row.map((cell, index) => {
                                        return index > 0 ? { text: cell, noWrap: true } : cell;
                                    });
                                }) // Table data rows with noWrap set to true
                            ]
                        },
                        layout: {
                            hLineWidth: function(i, node) {
                                return (i === 0 || i === node.table.body.length) ? 0.5 : 0.5;
                            },
                            vLineWidth: function(i, node) {
                                return (i === 0 || i === node.table.widths.length) ? 0.5 : 0.5;
                            }
                        },
                        margin: [20, 10, 20, 8]
                    }
                ],
                styles: {
                    header: {
                        fontSize: 9,
                        bold: true
                    },
                    tableBody: {
                        fontSize: 9
                    }
                },
                defaultStyle: {
                    fontSize: 9,
                    font: 'Roboto'
                },
                pageSize: 'A4',
                pageOrientation: 'landscape',
                pageMargins: [20, 25, 20, 25],

                footer: function(currentPage, pageCount) {
                    var currentDate = new Date();
                    var dateString = currentDate.toDateString() + ", " + currentDate.toLocaleTimeString();
                    return {
                        stack:[
                            { text:'Page ' + currentPage.toString() + ' of ' + pageCount, alignment:'center' },
                            { text:'Printed on ' + dateString, alignment:'center' }
                        ]
                    };
                }
            };

            // Create PDF document
            var pdfDoc = pdfMake.createPdf(docDefinition);

            // Open PDF
            pdfDoc.open();
        }
    </script>



    <script>
        function printStock() {
            // Show spinner
            $('#spinner').show();

            // Make an AJAX request to get JSON data
            $.ajax({
                url: '/api-bulk',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Process data and generate PDF
                    generatePdf(data);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                    // Hide spinner on error
                    $('#spinner').hide();
                }
            });
        }

    </script>


    <script>
        $(document).ready(function() {
            $('#searchInput').on('keyup', function() {
                var searchInput = $(this).val();
                var page = 1; // default page
                var size = 15; // default size

                $.ajax({
                    url: '/products/all',
                    data: {
                        searchInput: searchInput,
                        page: page,
                        size: size
                    },
                    success: function(data) {
                        $('#stockControlPanel').html(data);
                    }
                });
            });
        });

    </script>



</div>